@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quando", serif;
  overflow-x: hidden;
}

.header__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: #b6b6b6;
  font-size: 0.8rem;
}

.navbar a:hover {
  color: #3f4579;
  font-weight: bold;
}

.sign__up__button {
  width: 100px;
  height: 40px;
  background-color: #3f4579;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.log__in__button {
  border: none;
  color: #3f4579;
  font-size: 1rem;
  background-color: white;
  font-weight: bold;
  align-items: flex-start;
  margin-right: 0.5rem;
  cursor: pointer;
}
.log__in__button:hover {
  font-size: 1.1rem;
}

.nav__button {
  display: none !important;
}

.banner__section {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 85%;
  height: 600px;
  margin: 2rem auto;
  border-radius: 3rem;
  text-align: center;
}

.banner__section p {
  color: #3f5e79;
  font-weight: bolder;
  padding-top: 2rem;
}

.banner__section h1 {
  font-size: 3.4rem;
  color: #423d45;
}

.banner__section img {
  width: 13%;
  max-width: 100%;
  height: auto;
}

.select__options {
  background-color: #f4edf7;
  width: 80%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.9rem;
  margin: 0 auto;
  align-items: flex-start;
  font-weight: bolder;
  font-size: 0.9rem;
}

.select__options input[type="text"],
.select__options input[type="date"],
.select__options input[type="number"] {
  border: none;
  width: 240px;
  margin-top: 0.8rem;
  margin-left: 4rem;
  height: 40px;
  text-align: center;
}

.city i,
.date i,
.passengers i {
  margin-top: 1rem;
  margin-left: 2rem;
}

.material-icons {
  color: #3f4579;
}

.search__button {
  width: 60px;
  height: 100px;
  background-color: #3f4579;
  border-radius: 0.8rem;
  margin-top: 15px;
  margin-right: 40px;
}
.search__button span {
  color: white;
}

.popular__section {
  background-color: #fcfcfc;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}

.popular__section h4 {
  text-align: center;
  color: #423d45;
  font-size: 1.8rem;
}

.popular__cities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.popular__cities a {
  text-align: center;
  border: 1px solid #9194b2;
  width: 200px;
  height: 30px;
  border-radius: 0.8rem;
  color: #423d45;
  font-size: 0.8rem;
  padding-top: 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

.popular__cities a:hover {
  color: #3f4579;
  font-weight: bold;
}

.popular__section__shape1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b8bbff;
  position: absolute;
  left: 52.5rem;
  top: 0.1rem;
}

.popular__section__shape2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #edb9ff;
  position: absolute;
  left: 53.5rem;
  top: 1rem;
}

.popular__section__shape3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffb9ca;
  position: absolute;
  left: 52.5rem;
  top: 3rem;
}

.categories__section {
  background-color: #f4edf7;
  margin-top: 2rem;
}

.categories__section h1:before {
  content: "-";
  font-size: 48px;
  color: #3f4579;
  margin-top: 0.6rem;
}

.categories__section h1 {
  font-size: 2.4rem;
  color: #423d45;
  margin-left: 4rem;
}

.categories__section p {
  margin-left: 4rem;
  color: #b6b6b6;
  font-size: 1rem;
}

.categories__cities {
  display: flex;
  flex-direction: row;
}

.categories__cities__texts {
  display: flex;
}

.categories__city {
  width: 240px;
  height: 240px;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  margin-left: 5rem;
}

.city1 {
  background: url(./images/beach.jpeg);
  background-size: cover;
  opacity: 0.6;
}

.city1:hover,
.city2:hover,
.city3:hover,
.city4:hover,
.city5:hover,
.city6:hover,
.city7:hover {
  opacity: 1;
  cursor: pointer;
}

.city2 {
  background: url(./images/jungle.jpg);
  background-size: cover;
  opacity: 0.6;
}
.city3 {
  background: url(./images/mountain.jpg);
  background-size: cover;
  opacity: 0.6;
}
.city4 {
  background: url(./images/desert.jpg);
  background-size: cover;
  opacity: 0.6;
}
.city5 {
  background: url(./images/temple.jpg);
  background-size: cover;
  opacity: 0.6;
}
.city6 {
  background: url(./images/town.jpg);
  background-size: cover;
  opacity: 0.6;
}

.our__offers__section h1 {
  text-align: center;
  color: #423d45;
  font-size: 1.8rem;
  margin-top: 7rem;
  text-align: center;
}

.our__offers__section p {
  text-align: center;
  color: #b6b6b6;
}

.left__informations {
  float: left;
}
.right__informations {
  float: right;
}

.destination__city {
  width: 300px;
  height: 400px;
  background-color: #f4edf7;
  border-radius: 0.8rem;
  margin-left: 20rem;
  margin-top: 2.5rem;
}

.destination__city img {
  width: 90%;
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  margin: 0.8rem 0.8rem;
  border-radius: 0.5rem;
}

.destination__city h4 {
  font-size: 1.2rem;
  margin-left: 0.8rem;
  text-align: center;
}
.destination__city p {
  color: #423d45;
  font-size: 0.8rem;
}

.destination__city i {
  color: #423d45;
  margin-top: 0rem;
}
.book__now__button {
  width: 120px;
  height: 40px;
  border-radius: 0.8rem;
  background-color: #3f4579;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5rem;
  margin-top: 1rem;
}

.destination__icon {
  margin-left: 3rem;
}
.destination__grid {
  display: grid;
  grid-template-columns: 0.25rem 0.25rem 0.25rem 0.25rem;
  grid-template-rows: 200px 200px 160px;
  grid-gap: 16rem 19rem;
  justify-content: flex-start;
  background-color: #e6e6e6;
}

.all__offers__button {
  width: 200px;
  height: 60px;
  border-radius: 0.8rem;
  background-color: #3f4579;
  color: white;
  font-weight: bold;
  margin: 3rem 54rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.all__offers__button:hover,
.book__now__button:hover {
  color: #3f4579;
  background-color: white;
}

.download__section h1 {
  text-align: center;
  color: #423d45;
  font-size: 1.8rem;
  margin-top: 7rem;
  text-align: center;
}
.download__container {
  width: 50%;
  height: 600px;
  margin: 0 auto;
}

.download__container img {
  max-width: 100%;
  height: auto;
  margin: 2rem 6rem;
  float: left;
}

.download__container p {
  text-align: center;
}

.apple__store__download {
  width: 29%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  padding-top: 8rem;
}
.google__play__download {
  width: 29%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.footer__section {
  width: 100%;
  height: 200px;
  background-color: #b8bbff;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 200px;
}

.footer__copyright {
  background-color: #b8bbff;
  text-align: center;
}
.footer__copyright p {
  color: #423d45;
  font-size: 0.8rem;
  display: inline;
}

.logo {
  margin-left: 20px;
}

.logo h2 {
  color: #423d45;
  font-weight: bolder;
}

.logo p {
  color: #423d45;
  font-size: 0.9rem;
}

.logo i {
  font-size: 24px;
  padding-left: 10px;
}

.logo i:hover {
  font-size: 36px;
  color: #243afc;
}
.footer__section h5 {
  color: #423d45;
  font-weight: bolder;
}

.footer__section a {
  text-decoration: none;
  color: #423d45;
  font-size: 0.8rem;
  display: block;
  padding-top: 20px;
}

.footer__section a:hover {
  color: #3f4579;
  font-weight: bold;
}

/* RESPONSIVE FOR MOBILE */
@media only screen and (max-width: 768px) {
  /* <!------------- NAVBAR SECTIONS STARTS HERE ---------> */
  .navbar {
    display: none;
  }
  .navbar.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    flex-wrap: wrap;
  }

  .login__options__buttons {
    display: none;
  }
  .nav__button {
    display: block !important;
    margin-left: 80px;
  }
  /* <!------------- NAVBAR SECTIONS ENDS HERE ---------> */
  /* <!------------- BANNER SECTIONS STARTS HERE ---------> */
  .banner__section h1 {
    font-size: 2.5rem;
  }
  .banner__section img {
    width: 60%;
  }
  .select__options {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid black;
  }

  .city input[type="text"],
  .date input[type="date"],
  .passengers input[type="number"] {
    border: 1px solid #ecb54a;
  }
  .search__button {
    width: 180px;
    height: 60px;
    margin-bottom: 3rem;
    margin-left: 5.5rem;
  }
  /* <!------------- BANNER SECTIONS ENDS HERE ---------> */

  /* <!------------- POPULAR SECTION STARTS HERE STARTS HERE---------> */
  .popular__section {
    margin-top: 37rem;
  }

  .popular__section__shape1 {
    top: 0;
    left: 17rem;
  }

  .popular__section__shape2 {
    top: 1.5rem;
    left: 17.8rem;
  }
  .popular__section__shape3 {
    top: 3.5rem;
    left: 17rem;
  }
  .popular__cities {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    grid-gap: 0.5rem;
  }

  /* <!------------- POPULAR SECTION ENDS HERE---------> */
  /* <!------------- CATEGORIES SECTION STARTS HERE---------> */

  .categories__section {
    margin-top: 20rem;
    display: grid;
    overflow: scroll;
  }

  /* <!-------------CATEGORIES SECTION ENDS HERE---------> */

  /* <!------------- OUR OFFER SECTION STARTS HERE---------> */
  .destination__grid {
    align-items: center;
    grid-template-columns: 0.1fr;
    grid-template-rows: 0.1fr;
    grid-gap: 3rem;
    align-items: center;
  }

  .destination__city {
    margin: 0;
    padding: 0;
    margin-left: 4rem;
  }
  .all__offers__button {
    margin: 0 6.5rem 0.8rem;
    padding: 0;
  }
  /* <!------------- OUR OFFER SECTION ENDS HERE---------> */
  /* <!------------- DOWNLOAD SECTION STARTS HERE ---------> */
  .download__container img {
    width: 100%;
    margin: 1.5rem 0 0 0;
  }

  .apple__store__download,
  .google__play__download {
    padding: 0;
  }
  .download__container p {
    text-align: center;
    color: #b6b6b6;
  }
  /* <!------------- DOWNLOAD SECTION ENDS HERE ---------> */

  /* <!------------- FOOTER SECTIONS STARTS HERE ---------> */
  .footer__section {
    margin-top: 10rem;
    width: 100%;
    height: 900px;
    background-color: #b8bbff;
    display: grid;
    grid-template-columns: 0.4fr;
    grid-template-rows: 0fr;
    justify-content: center;
    align-items: center;
  }

  .menu,
  .booking_plans,
  .further__informations,
  .get__app {
    margin-left: 2.5rem;
  }
  .menu h5,
  .booking_plans h5,
  .further__informations h5,
  .get__app h5 {
    font-size: 0.9rem;
  }
  /* <!------------- FOOTER SECTIONS ENDS HERE ---------> */
}
